/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 5rem 0 0 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
  list-style: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: orangered;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0,0.8);
  -webkit-backdrop-filter: blur(10px);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

[appScrollAnimation] {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  
}

/* When scrolled into view */
.animate-slide-in {
  opacity: 1;
  transform: translateY(0);
  
}
